@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #E8D9D6;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.big-info {
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 35vw;
    /* height: 32vw; */
    margin: 9% 0;
    padding: 3%;
}

.big-title {
    font-size: 3em;
}

.big-pharagraph {
    font-size: 1.5em;
    padding: 0.4em 0 1.4em;
}

.big-button {
    background-color: black;
    padding: 0.8em 1.5em;
    border-radius: 50px;
}

.big-button a {
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 1);
    font-size: 1.5em;
}

.tea {
    position: relative;
    /* justify-content: center;
    align-items: center; */
    display: flex;
    width: 55vw;
    height: auto;
}

.tea-background {
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/images/shape\ bg.png);
    top: 0%;
    right: 0%;
    width: 42vw;
    height: 40vw;
}

.tea-blob {
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/images/Group\ 48.png);
    right: 4%;
    top: 10vw;
    width: 37vw;
    height: 25vw;
}

.tea-cup {
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/images/Group\ 49.png);
    right: 20%;
    top: 1vw;
    width: 20vw;
    height: 35vw;

    animation: tea-idle 3s ease-in-out infinite normal both;
}

.small-info {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%; 
}

.small-round-container {
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    width: 30vw;
    border-radius: 80px 100px 100px 80px ;
}

.small-box-image{
    align-self: flex-start;
    width: 100px;
    height: 100%;
}


.small-round-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: stretch;
    width: 31%;
    height: 100%;
    background: rgb(255,255,255);
    border-radius: 80px 100px 100px 80px / 80px 100px 100px 80px;

}

.small-round-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50% / 30%;
    width: 20%;
    height: 100%;
    margin-left: 0%;
}

.first-img {
    background-image: url(/images/unsplash_FO3XO4JQtlo.png);
}

.second-img {
    background-image: url(/images/unsplash_EgDkl00Hiqw.png);
}

.third-img {
    background-image: url(/images/unsplash_FO3XO49898.png);
}

.small-subtitle  {
    margin: 2% 0%;
    font-size: 2.5em;
    width: 10%;
}

.small-subpharagraph {
    display: flex;
    width: 50%;
    margin: 3% 0%;
    font-size: 1em; 
}

.small-round-container:hover {
    background-color: black;
    color: #FFF;
    transform: scale(1.05);
    filter: hue-rotate(360deg);
    transition: 1s ease-in-out;
}

.big-info:hover {
    transform: rotate(5deg);
    filter: blur(5px);
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.tea-cup:hover {
    transform: rotate3d(-1, -1, 0, -50deg);
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.boba-vector {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    background-image: url(/images/boba\ tea\ illustration.png);
    width: 9vw;
    height: 20vh;
    top: 70px;
    left: 4vw;
    z-index: 1;
}

@media (max-width:991px) {
    .container {
        flex-direction: column;
    }

    .big-info {
        width: auto;
        justify-content: center;
        align-items: center;
    }

    .tea {
        width: 100%;
        height: 100vw;
        width: auto;
    }
    
    .tea-background {
        width: 100%;
        height: 95vw;
    }

    .tea-blob {
        right: 8%;
        top: 30%;
        width: 80vw;
        height: 55vw;
    }

    .tea-cup {
        right: 20%;
        top: 10%;
        width: 55vw;
        height: 75vw;
    }

    .small-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%; 
    }

    .small-round-container{
        width: 90vw;
        height: 30vw;
        margin: 5% 5%;
    }

    .small-round-img {
        height: 30vw;
        width: 23vw;
    }

    .boba-vector {
        width: 100px;
        height: 150px;
        top: 2px;
        left: 20vw;
    }
    
}

@keyframes tea-idle {
    0% {
        top: 0px;
    }

    50% {
        top: 2vi;
    }

    100% {
        top: 0px;
    }
    
}

